
<!DOCTYPE HTML>
<html lang="en-US">
    <head>
    <meta charset="UTF-8">
    <title>Warming Up</title>


    <meta name="template" content="experience-page">






<link rel="stylesheet" href="css/clientlib-dependencies.css" type="text/css">
<script type="text/javascript" src="js/clientlib-dependencies.js"></script>





<link rel="stylesheet" href="css/jquery-ui.css" type="text/css">
<link rel="stylesheet" href="css/site.css" type="text/css">
<link rel="stylesheet" href="css/clientlib-base.css" type="text/css">






<script src="js/dje4ayd.js"></script>
<script>try {
    Typekit.load({async: true});
} catch (e) {
}</script>


<script type="text/javascript">
            (function() {
                window.ContextHub = window.ContextHub || {};

                /* setting paths */
                ContextHub.Paths = ContextHub.Paths || {};
                ContextHub.Paths.CONTEXTHUB_PATH = "/libs/settings/cloudsettings/legacy/contexthub";
                ContextHub.Paths.RESOURCE_PATH = "\/content\/we\u002Dretail\/us\/en\/experience\/warming\u002Dup\/_jcr_content\/contexthub";
                ContextHub.Paths.SEGMENTATION_PATH = "\/conf\/we\u002Dretail\/settings\/wcm\/segments";
                ContextHub.Paths.CQ_CONTEXT_PATH = "";

                /* setting initial constants */
                ContextHub.Constants = ContextHub.Constants || {};
                ContextHub.Constants.ANONYMOUS_HOME = "/home/users/O/O-8Uyi-Wv7_jWp7Tatf5";
                ContextHub.Constants.MODE = "no-ui";
            }());
        </script><script src="contexthub" type="text/javascript"></script>



<script type="text/javascript">
window.digitalData = {
  "page": {
    "pageInfo": {
      "breadcrumbs": "we-retail:us:en:experience:warming-up",
      "pageShortName": "we-retail:[...]:warming-up",
      "pageName": "content:we-retail:us:en:experience:warming-up",
      "destinationURL": "https://publish1034.adobedemo.com/warming-up.html",
      "isIframe": false,
      "contentIframe": false,
      "hierarchie1": "we-retail:us:en:experience:warming-up",
      "title": "Warming Up",
      "internalPageName": "warming-up",
      "pageID": "publish1034.adobedemo.com:content:we-retail:us:en:experience:warming-up",
      "tagging": "",
      "server": "publish1034.adobedemo.com",
      "urlShortcut": ""
    },
    "category": {
      "type": ":conf:we-retail:settings:wcm:templates:experience-page",
      "version": "2018-10-24"
    },
    "attributes": {},
    "components": []
  },
  "product": [
    {
      "productInfo": {}
    }
  ],
  "cart": {
    "productsInCart": 0
  },
  "user": [
    {
      "profile": [
        {
          "profileInfo": {},
          "attributes": {
            "loggedIn": false
          }
        }
      ]
    }
  ],
  "pageInstanceID": "s7connect:publish:content:we-retail:us:en:experience:warming-up",
  "language": "en"
};
window.digitalData.page.pageInfo.referringURL = document.referrer;
window.digitalData.page.pageInfo.sysEnv = navigator.userAgent;
</script>















</head>
    <body class="page basicpage">







<div class="container">
    <div class="root responsivegrid">

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

    <div class="header aem-GridColumn aem-GridColumn--default--12">
<div id="top" class="we-retail-header" data-we-header-content="/warming-up.header_include.html">

<div class="navbar navbar-inverse navbar-fixed-top hidden-xs hidden-sm">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">

	<!--
            <li><a href="#" data-toggle="modal" data-target=".we-LanguageModal" title="English"><i class="we-lang-icon we-lang-icon-US"></i> en</a></li>
-->
</ul>
        <ul class="nav navbar-nav navbar-right">

            <li>
<div class="we-Cart">


    <a class="we-Cart-button" href="#" v-on:click="toggle">
        <i class="fa fa-shopping-cart"></i>&nbsp My cart &nbsp <span class="badge active" v-cloak v-if="cartEntriesSize > 0">{{cartEntriesSize}}</span>
    </a>

    <cart-content inline-template>
        <div class="we-Cart-content" itemtype="http://localhost:8080/apps/public/weretail/hapi_types/cart.html" itemscope="itemscope">
            <div class="we-Cart-header">
                <div class="we-Cart-headerLeft">
                    <a href="#" v-on:click="$parent.toggle">
                        <i class="we-Icon we-Icon--close"></i>
                    </a>
                </div>
                <div class="we-Cart-headerRight">
                    <span itemprop="totalEntries" itemtype="http://localhost:8080/libs/sling/hapi/types/number.html" itemscope="itemscope">{{cartEntriesSize}}</span> items in cart
                </div>
            </div>

            <div class="we-Cart-empty" v-if="cartEntriesSize == 0">The cart is empty.</div>

            <div class="we-Cart-data">

                <div class="we-Cart-entries" v-if="cartEntriesSize > 0">
                    <div class="we-Cart-entry" v-for="(index, cartEntry) in cartEntries" itemprop="entries" itemtype="http://localhost:8080/apps/public/weretail/hapi_types/cartentry.html" itemscope="itemscope">

                        <img class="we-Cart-image" v-bind:src="cartEntry.thumbnail" alt="{{ cartEntry.title }}" itemprop="asset" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">

                        <div class="we-Cart-entryContent">
                            <div itemprop="product" itemtype="http://localhost:8080/apps/public/weretail/hapi_types/product.html" itemscope="itemscope">
                                <meta content="{{ cartEntry.title }}" itemprop="name" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">
                                <a href="#" v-bind:href="cartEntry.page" itemprop="path" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">
                                    <strong>{{ cartEntry.title }}</strong>
                                </a>
                                <div class="text-muted">
                                    <small v-if="cartEntryPromotions(index) && cartEntryPromotions(index).length > 0">
                                        <span class="text-info" v-for="promotion in cartEntryPromotions(index)" v-html="promotion.message"></span>
                                    </small>
                                    <small itemprop="description" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">
                                        {{ cartEntry.description }}
                                    </small>
                                    <ul v-if="cartEntry.variant" class="small we-Cart-entryVariants">
                                        <li v-for="(key, val) in cartEntry.variant">
                                            <span>{{ key }}</span>: {{ val }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="we-Cart-entryQuantity">
                                <label class="text-muted">Qty:</label>



                                <span v-if="cartEntry.readonly == true" itemprop="quantity" itemtype="http://localhost:8080/libs/sling/hapi/types/number.html" itemscope="itemscope">{{ cartEntry.quantity }}</span>

                                <form method="POST" action="/warming-up.weretail.modifycartentry.html" v-if="cartEntry.readonly != true">
                                    <input type="hidden" name="entryNumber" value="{{index}}">
                                    <input type="hidden" name="redirect" value="/warming-up.html">
                                    <input type="number" name="quantity" v-model="cartEntry.quantity" min="0" step="1" v-on:change.prevent="updateCart" itemprop="quantity" itemtype="http://localhost:8080/libs/sling/hapi/types/number.html" itemscope="itemscope">
                                </form>
                            </div>
                            <div class="we-Cart-entryPrice" itemprop="itemPrice" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">
                                <strong>{{ cartEntry.priceFormatted }}</strong>
                            </div>
                        </div>

                        <div class="we-Cart-remove">
                            <form method="POST" action="/warming-up.weretail.deletecartentry.html" v-on:click.prevent="updateCart" v-if="cartEntry.readonly != true">
                                <input type="hidden" name="entryNumber" value="{{index}}">
                                <input type="hidden" name="redirect" value="/warming-up.html">
                                <button type="submit" class="btn btn-default btn-icon"><i class="text-muted fa fa-times-circle-o"></i></button>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="we-Cart-promotions" v-if="orderPromotions && orderPromotions.length > 0">
                    <span v-for="promotion in orderPromotions" class="we-Cart-promotion" v-html="promotion.message"></span>
                </div>

                <div class="we-Cart-footer">
                    <div class="we-Cart-subtotal" v-if="cartEntriesSize > 0">
                        sub-total: <span itemprop="total" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">{{cartTotalPrice}}</span>
                    </div>
                    <a v-if="cartEntriesSize > 0" class="btn btn-primary btn-action pull-right" href="cart.html">Checkout</a>
                </div>

            </div>
        </div>
    </cart-content>
</div>
</li>

            <li><a href="signin_1.html">Login</a></li>

        </ul>
    </div>
</div>

<div class="container">
    <nav class="navbar navbar-inverse navbar-absolute-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#we-example-navbar-collapse-inverse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>

            <button type="button" class="navbar-toggle navbar-toggle-close collapsed" data-toggle="collapse" data-target="#we-example-navbar-collapse-inverse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="we-Icon we-Icon--close"></i>
            </button>

            <a class="navbar-brand" href="index.html"> <img src="images/Luma_Logo.png">
<!--
<strong>LUMA</strong>
-->

</a>
            <div class="pull-right visible-xs visible-sm">
<div class="we-Cart">
    <a class="we-Cart-button" href="#" v-on:click="toggle" style="color:#1979c3; font-size: 20px; ">
        <i class="fa fa-shopping-cart"></i> &nbsp <span class="badge active" v-cloak v-if="cartEntriesSize > 0">{{cartEntriesSize}}</span>
    </a>
</div></div>
        </div>

        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse width" id="we-example-navbar-collapse-inverse">
            <ul class="nav navbar-nav navbar-center">
                <li class="visible-xs visible-sm"><a href="index.html" style="font-size:24px;"><strong class="text-primary">Luma Mobile Menu</strong></a></li>
                <div class="we-navigation">
<nav class="cmp-navigation">
    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="community_1.html" title="Community" class="cmp-navigation__item-link">Community</a>


    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="trending_2.html" title="Trending" class="cmp-navigation__item-link">Trending</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="forum_2.html" title="Forum" class="cmp-navigation__item-link">Forum</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="files_10.html" title="Files" class="cmp-navigation__item-link">Files</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="catalog_10.html" title="Catalog" class="cmp-navigation__item-link">Catalog</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="assignments_8.html" title="Assignments" class="cmp-navigation__item-link">Assignments</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="blog_8.html" title="Blog" class="cmp-navigation__item-link">Blog</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="questions_2.html" title="Questions" class="cmp-navigation__item-link">Questions</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="ideas_9.html" title="Ideas" class="cmp-navigation__item-link">Ideas</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="calendar_10.html" title="Calendar" class="cmp-navigation__item-link">Calendar</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="groups_12.html" title="Groups" class="cmp-navigation__item-link">Groups</a>


    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="hiking_1.html" title="Forum" class="cmp-navigation__item-link">Forum</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="running_1.html" title="Forum" class="cmp-navigation__item-link">Forum</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="wintersports_1.html" title="Forum" class="cmp-navigation__item-link">Forum</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="skiing_1.html" title="Forum" class="cmp-navigation__item-link">Forum</a>


    </li>

    </ul>

    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="members_8.html" title="Members" class="cmp-navigation__item-link">Members</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="social_2.html" title="Social" class="cmp-navigation__item-link">Social</a>


    </li>

    </ul>

    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active">

    <a href="experience_1.html" title="Blog" class="cmp-navigation__item-link">Blog</a>


    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="beginners-luck_1.html" title="Beginners Luck" class="cmp-navigation__item-link">Beginners Luck</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active">

    <a href="warming-up_1.html" title="Warming Up" class="cmp-navigation__item-link">Warming Up</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="keep-moving_1.html" title="Keep Moving" class="cmp-navigation__item-link">Keep Moving</a>


    </li>

    </ul>

    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="men_3.html" title="Men" class="cmp-navigation__item-link">Men</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="women_3.html" title="Women" class="cmp-navigation__item-link">Women</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="equipment_2.html" title="Equipment" class="cmp-navigation__item-link">Equipment</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="about-us_2.html" title="About Us" class="cmp-navigation__item-link">About Us</a>


    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="contact-luma_1.html" title="Contact Luma" class="cmp-navigation__item-link">Contact Luma</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="customer-service_1.html" title="Customer Service" class="cmp-navigation__item-link">Customer Service</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="privacy-policy_1.html" title="Luma Privacy Policy" class="cmp-navigation__item-link">Luma Privacy Policy</a>


    </li>

    </ul>

    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="products.html" title="Products" class="cmp-navigation__item-link">Products</a>


    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="Womindex.html" title="Women" class="cmp-navigation__item-link">Women</a>


    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="tops_2.html" title="Tops" class="cmp-navigation__item-link">Tops</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="bottoms_2.html" title="Bottoms" class="cmp-navigation__item-link">Bottoms</a>


    </li>

    </ul>

    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="Gear.html" title="Gear" class="cmp-navigation__item-link">Gear</a>


    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="fitness_equipment.html" title="Fitness Equipment" class="cmp-navigation__item-link">Fitness Equipment</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="watches_1.html" title="Watches" class="cmp-navigation__item-link">Watches</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="bags_1.html" title="Bags" class="cmp-navigation__item-link">Bags</a>


    </li>

    </ul>

    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-1">

    <a href="Mindex.html" title="Men" class="cmp-navigation__item-link">Men</a>


    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="tops_3.html" title="Tops" class="cmp-navigation__item-link">Tops</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-2">

    <a href="bottoms_3.html" title="Bottoms" class="cmp-navigation__item-link">Bottoms</a>


    </li>

    </ul>

    </li>

    </ul>

    </li>

    </ul>
</nav>



</div>
                <li class="visible-xs visible-sm divider" role="separator"></li>
                <li class="visible-xs visible-sm"><a href="signin_1.html" style="color: #1979c3 !important;">Login</a></li>





                <li class="visible-xs visible-sm"><a href="#" data-toggle="modal" data-target=".we-LanguageModal"><i class="we-lang-icon we-lang-icon-US"></i> en</a></li>
            </ul>
        </div>

        <!-- /.navbar-collapse

        <div class="navbar-right-outside">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#navbar-search">
                <span class="sr-only">Search</span><i class="we-Icon we-Icon--search" aria-hidden="true"></i>
            </a>
        </div>
-->
        <!-- /.navbar-right-outside -->

        <span class="navbar-shutter"></span>
    </nav>
    <!-- /.navbar -->
</div>



<div class="we-SearchModal modal fade " id="navbar-search" role="dialog" data-color="primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span><i class="we-Icon we-Icon--search"></i>Search anything</span>
                <button type="button" class="close" data-dismiss="modal"><span>Close search</span><i class="we-Icon we-Icon--close-alt"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="we-search">
<section class="cmp-search" role="search" data-cmp-is="search" data-cmp-min-length="3" data-cmp-results-size="10">
    <form class="cmp-search__form" data-cmp-hook-search="form" method="get" action="/warming-up.searchresults.json/_jcr_content/root/header/search" autocomplete="off">
        <div class="cmp-search__field">
            <i class="cmp-search__icon" data-cmp-hook-search="icon"></i>
            <span class="cmp-search__loading-indicator" data-cmp-hook-search="loadingIndicator"></span>
            <input class="cmp-search__input" data-cmp-hook-search="input" type="text" name="fulltext" placeholder="Search" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-invalid="false">
            <button class="cmp-search__clear" data-cmp-hook-search="clear">
                <i class="cmp-search__clear-icon"></i>
            </button>
        </div>
    </form>
    <div class="cmp-search__results" data-cmp-hook-search="results" role="listbox" aria-multiselectable="false"></div>

<script data-cmp-hook-search="itemTemplate" type="x-template">
    <a class="cmp-search__item" data-cmp-hook-search="item">
        <span class="cmp-search__item-title" data-cmp-hook-search="itemTitle"></span>
    </a>
</script>
</section></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.we-SearchModal -->

<div class="we-LanguageModal modal fade" tabindex="-1" role="dialog" data-color="primary">
    <div class="modal-dialog modal-center modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">CHOOSE YOUR COUNTRY</h3>
            </div>
            <div class="modal-body">
                <div class="we-languagenavigation">
<nav class="cmp-languagenavigation">
    <ul class="cmp-languagenavigation__group">

    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-0 cmp-languagenavigation__item--active">

    <i class="we-lang-icon we-lang-icon-US" title="United States"></i>



    <ul class="cmp-languagenavigation__group">

    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-1 cmp-languagenavigation__item--active">


    <a class="cmp-languagenavigation__item-link" href="warming-up_1.html" hreflang="en-US" lang="en-US" rel="alternate" title="English">English</a>


    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-es-US cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="es.html" hreflang="es-US" lang="es-US" rel="alternate" title="Español">Español</a>


    </li>

    </ul>

    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CA cmp-languagenavigation__item--langcode-en-CA cmp-languagenavigation__item--level-0">

    <i class="we-lang-icon we-lang-icon-CA" title="Canada"></i>



    <ul class="cmp-languagenavigation__group">

    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CA cmp-languagenavigation__item--langcode-en-CA cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="en_1.html" hreflang="en-CA" lang="en-CA" rel="alternate" title="English">English</a>


    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CA cmp-languagenavigation__item--langcode-fr-CA cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="fr.html" hreflang="fr-CA" lang="fr-CA" rel="alternate" title="Français">Français</a>


    </li>

    </ul>

    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-de-CH cmp-languagenavigation__item--level-0">

    <i class="we-lang-icon we-lang-icon-CH" title="Switzerland"></i>



    <ul class="cmp-languagenavigation__group">

    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-de-CH cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="de.html" hreflang="de-CH" lang="de-CH" rel="alternate" title="Deutsch">Deutsch</a>


    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-fr-CH cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="fr_1.html" hreflang="fr-CH" lang="fr-CH" rel="alternate" title="Français">Français</a>


    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-it-CH cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="it.html" hreflang="it-CH" lang="it-CH" rel="alternate" title="Italiano">Italiano</a>


    </li>

    </ul>

    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-0">

    <i class="we-lang-icon we-lang-icon-DE" title="Germany"></i>



    <ul class="cmp-languagenavigation__group">

    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="de_1.html" hreflang="de-DE" lang="de-DE" rel="alternate" title="Deutsch">Deutsch</a>


    </li>

    </ul>

    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-0">

    <i class="we-lang-icon we-lang-icon-FR" title="France"></i>



    <ul class="cmp-languagenavigation__group">

    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="fr_2.html" hreflang="fr-FR" lang="fr-FR" rel="alternate" title="Français">Français</a>


    </li>

    </ul>

    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-0">

    <i class="we-lang-icon we-lang-icon-ES" title="Spain"></i>



    <ul class="cmp-languagenavigation__group">

    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="es_1.html" hreflang="es-ES" lang="es-ES" rel="alternate" title="Español">Español</a>


    </li>

    </ul>

    </li>



    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-IT cmp-languagenavigation__item--langcode-it-IT cmp-languagenavigation__item--level-0">

    <i class="we-lang-icon we-lang-icon-IT" title="Italy"></i>



    <ul class="cmp-languagenavigation__group">

    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-IT cmp-languagenavigation__item--langcode-it-IT cmp-languagenavigation__item--level-1">


    <a class="cmp-languagenavigation__item-link" href="it_1.html" hreflang="it-IT" lang="it-IT" rel="alternate" title="Italiano">Italiano</a>


    </li>

    </ul>

    </li>

    </ul>
</nav>



</div>

            </div>
        </div>
        <div class="modal-after">
            <a href="#" data-dismiss="modal"><i class="we-Icon we-Icon--close-alt"></i> Close</a>
        </div>
    </div>
</div><!-- /.we-LanguageModal -->

</div>
</div>
<div class="we-breadcrumb aem-GridColumn aem-GridColumn--default--12">
<nav class="cmp-breadcrumb">
    <ol class="cmp-breadcrumb__list">
        <li class="cmp-breadcrumb__item">
            <a href="index.html" class="cmp-breadcrumb__item-link">English</a>
        </li>

        <li class="cmp-breadcrumb__item">
            <a href="index.html" class="cmp-breadcrumb__item-link">English</a>
        </li>

        <li class="cmp-breadcrumb__item">
            <a href="experience_1.html" class="cmp-breadcrumb__item-link">Blog</a>
        </li>

        <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active">
            Warming Up
        </li>
    </ol>
</nav>



</div>
<div class="heroimage cmp-image aem-GridColumn aem-GridColumn--default--12">

    <div class="we-HeroImage jumbotron" style="background-image: url('images/1540415604685.jpeg');">
        <div class="container cq-dd-image">
            <div class="we-HeroImage-wrapper">
                <p class="h3">Warming Up</p>
                <strong class="we-HeroImage-title h1">stretch yourself so you can stretch your limits !!</strong>


            </div>
        </div>
    </div>

</div>
<div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

    <div class="contentfragment aem-GridColumn aem-GridColumn--default--12">



    <div data-path="/content/dam/we-retail/en/content-fragments/stretch-yourself" class="cmp-contentfragment">
        <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>
        <div>
            <p><b>by Sharon Shipley</b></p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis eget lacus nec mattis. Aliquam non neque elit. Nulla fringilla erat nec dolor accumsan, vehicula consectetur orci vestibulum. Mauris magna felis, venenatis non tincidunt et, tristique aliquam sem. Cras varius odio ex, sit amet posuere elit dignissim eget. Aliquam tincidunt lobortis nisl, ut pulvinar sem vehicula id. Integer pellentesque, nisl id egestas facilisis, elit ipsum vestibulum odio, pellentesque hendrerit tortor ligula non elit. Fusce ullamcorper ac risus ut gravida. Morbi et eros at diam sagittis fermentum et eu velit. Sed elementum sollicitudin feugiat. Quisque erat sem, vestibulum sit amet ullamcorper id, porttitor eget magna. Pellentesque dictum purus vitae orci porta, quis iaculis magna luctus.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Vestibulum eget eleifend mauris. Donec vitae semper turpis. Maecenas accumsan orci purus, nec venenatis ligula faucibus at. Integer semper condimentum tortor. Aliquam lorem velit, porta at vestibulum non, tincidunt in tortor. Nulla gravida leo in nisi imperdiet, ut interdum neque tempor. Fusce aliquam augue nec lorem facilisis, ac faucibus justo aliquet. Praesent mi ante, laoreet id mollis in, auctor sit amet purus. Vestibulum iaculis pharetra nisi, sagittis accumsan tellus pretium eget. Phasellus ut odio pulvinar, vulputate mi sed, gravida nibh. Donec finibus tortor nec nibh viverra rhoncus. Etiam sagittis metus non ligula vulputate tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sit amet urna id sem rutrum accumsan nec non metus. Curabitur blandit elit nec justo consectetur cursus non vehicula nisl. Nam augue mauris, vulputate quis nibh sit amet, condimentum scelerisque nisi.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Mauris ultricies lacus lectus, ut tristique magna finibus quis. Quisque mollis nisi ut nisi convallis luctus. Nulla facilisi. Vestibulum fermentum congue hendrerit. Ut sollicitudin faucibus tortor, at mattis nunc consequat in. Nullam ac ipsum commodo, viverra lorem non, facilisis libero. Nam fringilla consequat elementum. Curabitur scelerisque tincidunt eros, sed dignissim ante volutpat quis. Fusce dignissim lacus ut lectus iaculis condimentum. Vestibulum iaculis, mi in dictum aliquam, ante sem tempus mi, eget imperdiet neque libero ac neque. Curabitur sit amet facilisis mi, in rhoncus sem.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Praesent vel magna a metus ultricies accumsan sed nec nulla. Etiam ut ligula in enim interdum semper. Praesent dictum vel enim sit amet fermentum. Aenean commodo, velit et mattis pharetra, ante ex ultrices eros, et faucibus ipsum nisl in ipsum. Duis ac metus eu nunc iaculis porttitor sed sed arcu. Vestibulum eget vulputate ligula. Ut sagittis sit amet sapien vitae feugiat. Duis malesuada purus magna, sit amet placerat felis volutpat quis. Fusce euismod libero et leo aliquam, vulputate elementum ligula iaculis. Quisque et ultrices risus.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Nam sollicitudin enim sagittis nisi posuere, quis ornare odio fringilla. Ut commodo, mi a hendrerit fermentum, diam nunc interdum enim, non consectetur tellus orci ac justo. Mauris venenatis urna a arcu ultrices, a tempus odio convallis. Praesent vel suscipit lorem, sit amet sodales dolor. Sed id risus maximus, volutpat metus quis, scelerisque mi. Pellentesque sit amet erat cursus nulla aliquam semper in in elit. Nullam enim erat, mattis sed ipsum a, gravida dignissim nisl. Integer posuere nisl ac sollicitudin mollis. In eget sodales mauris. Sed in diam libero. Cras sit amet ligula hendrerit, sodales nisi nec, facilisis lorem. Nunc sit amet venenatis dui. Nunc nisl elit, sagittis quis nibh ut, malesuada rutrum nunc. Suspendisse pellentesque volutpat fermentum. In fringilla convallis quam, eu dictum tortor feugiat a.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Suspendisse eu aliquam leo. Donec at massa fermentum, porta neque sed, egestas risus. Duis ultrices, turpis quis feugiat posuere, odio ex elementum urna, a sagittis ipsum est vitae neque. Donec scelerisque magna quam, ut aliquam dui dictum sit amet. Vestibulum magna velit, semper sollicitudin odio at, fermentum dapibus ipsum. Cras cursus eros eget metus iaculis, ac egestas mauris varius. Morbi placerat, ligula vitae consequat vestibulum, sem justo auctor lectus, non placerat lacus nisi sit amet purus.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Ut tincidunt, orci quis consequat tempor, magna odio faucibus arcu, quis porta ex erat vitae diam. Donec eu pretium mi. Pellentesque faucibus ex blandit sem mollis, nec dapibus turpis volutpat. Vestibulum lobortis odio at tincidunt auctor. Nam tincidunt lacus non massa feugiat convallis. Donec vitae ante ut felis viverra congue. Nam tempor nec felis nec efficitur. Morbi venenatis porttitor nisi eget iaculis. Donec dapibus egestas neque sit amet dignissim. Proin pulvinar interdum ante, id consequat felis commodo non.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Maecenas accumsan leo ante, vitae hendrerit arcu malesuada non. Nam fermentum rhoncus nisl nec tincidunt. Fusce laoreet ante in sem convallis, quis bibendum ex facilisis. Sed aliquam felis ex, ac lobortis urna rhoncus nec. Nullam aliquam leo neque, id bibendum eros tempor non. Etiam at euismod lectus, eu consequat arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vel porttitor ante. Integer nec justo ac eros consequat euismod. Quisque laoreet, justo ut pellentesque tincidunt, dui felis consequat nisi, vel aliquet urna diam eget libero.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Proin nec quam libero. Aliquam erat volutpat. Cras lectus nisl, aliquam non tempor vel, mattis vitae libero. In tempor, quam in cursus malesuada, orci nisl porta felis, quis condimentum urna turpis at magna. Nunc aliquet, massa eget accumsan feugiat, diam felis scelerisque lorem, id eleifend sapien ligula vitae ante. Curabitur augue libero, dignissim ut turpis sit amet, fringilla imperdiet ligula. Nulla ac erat ut nibh euismod consectetur vel at magna. Vivamus vel posuere ante. Praesent volutpat, est vel efficitur ultrices, lorem nulla auctor sapien, imperdiet facilisis nisl magna ac nulla. Cras vitae ante dui. Ut pellentesque facilisis nunc vitae congue. Sed facilisis diam aliquam velit ullamcorper, maximus commodo lacus tincidunt. Fusce sollicitudin diam ac tellus eleifend mollis. Phasellus a consequat nisl, id laoreet mauris. Suspendisse et lacinia risus. Donec gravida ullamcorper dui eu faucibus.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p>Nam et consequat felis. Maecenas dictum, felis nec vulputate laoreet, eros felis scelerisque augue, ac vehicula augue quam ut risus. Duis et ipsum non dui vestibulum elementum. Fusce vestibulum sodales magna a dictum. Mauris a justo lectus. Integer pretium malesuada magna at consequat. Phasellus id fermentum lorem.</p>

            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>

            <p> </p>
            <div>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">



</div></div>
        </div>
    </div>







</div>


</div></div>
<div class="footer aem-GridColumn aem-GridColumn--default--12">







    <footer class="we-Footer">
        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <div class="we-Logo we-Logo--big">
                        <strong>LUMA</strong>
                    </div>
                </div>

                <div class="col-md-9 col-sm-12">
                    <div class="we-navigation">
<nav class="cmp-navigation">
    <ul class="cmp-navigation__group">

    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="community_1.html" title="Community" class="cmp-navigation__item-link">Community</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active">

    <a href="experience_1.html" title="Blog" class="cmp-navigation__item-link">Blog</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="men_3.html" title="Men" class="cmp-navigation__item-link">Men</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="women_3.html" title="Women" class="cmp-navigation__item-link">Women</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="equipment_2.html" title="Equipment" class="cmp-navigation__item-link">Equipment</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="about-us_2.html" title="About Us" class="cmp-navigation__item-link">About Us</a>


    </li>



    <li class="cmp-navigation__item cmp-navigation__item--level-0">

    <a href="products.html" title="Products" class="cmp-navigation__item-link">Products</a>


    </li>

    </ul>
</nav>



</div>

                </div>


            </div>

            <div class="row we-Footer-section we-Footer-section--sub">
                <div class="we-Footer-section-item">
                    <span class="text-uppercase text-muted">© 2019 All rights reserved By Adobe Inc.</span>
                </div>
                <div class="we-Footer-section-item">
                    <a href="#" class="text-uppercase text-muted">Terms of use &amp; privacy policy</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <a href="#top" class="btn btn-action btn-action-up btn-primary">Ride to the top</a>
                    </div>
                </div>
            </div>

        </div>
    </footer>

</div>


</div></div>

</div>







<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/site.js"></script>
<script type="text/javascript" src="js/clientlib-base.js"></script>















    </body>
</html>
